
<% @working_days.each do |working_day| %>
  <%= link_to working_day_path(working_day) do %>
    <h4 class="non"><%= working_day.start_of_day.strftime("%A" " " "%H" ":" "%M" " " "%D " "%Y") %> to <%= working_day.end_of_day.strftime(" " "%H" ":" "%M" " " "%Y") %></h4>
  <% end %>
<% end %>
<hr />

<h2><%= link_to "Create a list of slots", working_days_new_path, class: 'btn btn-primary' %></h2>
